<header>
  <h1>Find a Doctor nearby</h1>
  <ul class="actions">
    <% if user_signed_in? %>
      <li><%= link_to "Register as new patient", new_patient_path, class: "new" %></li>
      <li><%= link_to "Doctors", doctors_path, class: "new" %></li>
    <% end %>
  </ul>
</header>


<div id="map" data-patient_gps="<%= @patient_gps %>" data-doctors_gps="<%= @doctors_gps %>"></div>
