<header>
  <h1>Find a Doctor nearby</h1>
  <ul class="actions">
    <% if user_signed_in? %>
      <li><%= link_to "Register as new patient", new_patient_path, class: "new" %></li>
      <li><%= link_to "Doctors", doctors_path, class: "new" %></li>
    <% end %>
  </ul>
</header>


<div id="map" data-patient_gps="<%= @patient_gps %>" data-doctors_gps="<%= @doctors_gps %>"></div>

<div id="patient" style="display: none;">
  <h2><a href="/patients/4">Frank White</a> </h2>
    Frank White</br>
    520-377-7777</br>
</div>

<div id="doctors">
  <div id="doctor_1" style="display: none;">
    <h2><a href="/doctors/1">Smith</a> </h2>
    Mike Smith</br>
    General Practice</br>
    520-234-2242</br>
  </div>
  <div id="doctor_2" style="display: none;">
    <h2><a href="/doctors/2">Thomas</a> </h2>
    Jane Thomas</br>
    General Practice</br>
    520-477-2122</br>
  </div>
  <div id="doctor_3" style="display: none;">
    <h2><a href="/doctors/3">Harris</a> </h2>
    Fred Harris</br>
    General Practice</br>
    520-577-2322</br>
  </div>
</div>
